*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --cor-fundo: #f9fafb;
  --cor-texto: #1f2937;
  --cor-primaria: #3b82f6;
}

header {
  width: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-link {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.menu-link a {
  text-decoration: none;
  font-weight: bold;
  color: var(--cor-texto);
  transition: 0.3s ease;
}

.menu-link a:hover {
  color: var(--cor-primaria);
}

.hero {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero h2 {
  font-size: 3rem;
}

.grid-stacks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.grid-stacks > div {
  border: 1px solid #ddd;
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.project-card {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  margin: -1.5rem -1.5rem 1rem -1.5rem;
}

.project-card > ul {
  list-style: none;
  display: flex;
  gap: 0.5rem;
}

.project-card > ul > li {
  background-color: #cbd6e5;
  padding: 0.2rem 0.6rem;
  border-radius: 6px;
}
.project-links {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.project-links > a {
  text-decoration: none;
  display: inline-block;
  background: var(--cor-primaria);
  color: var(--cor-fundo);
  border-radius: 6px;
  padding: 0.6rem 0.5rem;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    background-color 0.2s ease;
}

.project-links > a:hover {
  transform: translate(0px, -12px);
  box-shadow:
    2px 3px 2px rgba(65, 114, 248, 0.3),
    3px 5px 4px rgba(57, 54, 235, 0.4);
  background: #2264f1;
}
