*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --cor-fundo: #f9fafb;
  --cor-texto: #1f2937;
  --cor-primaria: #3b82f6;
}

header {
  width: 100%;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-link {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.menu-link a {
  text-decoration: none;
  font-weight: bold;
  color: var(--cor-texto);
  transition: 0.3s ease;
}

.menu-link a:hover {
  color: var(--cor-primaria);
}
